<div class="content">
  <h2>Messages</h2>
  <p *ngIf="items.length == 0">
    Send your first event to see it here.
  </p>
  <ul *ngIf="items.length > 0">
    <li *ngFor="let item of items.reverse(); index as i">
      <div>
        <b>ID:</b>&nbsp;{{ item.id }}
      </div>
      <div>
        <b>Time:</b>&nbsp;{{ item.timestamp | date:'medium' }}
      </div>
      <div>
        <b>Channel:</b>&nbsp;{{ item.key }}
      </div>
      <div class="content-field">
        <div>
          <b>Content:</b>
        </div>
        <div>
          <textarea readonly rows="4">{{ item.data | json }}</textarea>
        </div>
      </div>
    </li>
  </ul>
</div>

